body {
    font-weight: 600;
    margin: 0;
}

.header {
    background-color: #000000;
    width: 100%;
    margin: 0;
    /* 外側の余白を削除 */
    padding: 0;
    box-sizing: border-box;
}

.header_inner {
    display: flex;
    height: 70px;
    /*ヘッダーの高さ*/
    align-items: center;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 20px;
}

.header__logo {
    display: block;
    /* インラインからブロック要素に変更 */
    padding: 15px;
}

/*ヘッダー右側のnavスペース*/
.header__nav {
    height: 100%;
    font-size: 18px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-decoration: none;
}

.header__link {
    width: 120px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
}

/*ログアウトbutton*/
.header__logout-button {
    font-weight: 600;
    width: 120px;
    font-size: 18px;
    border: none;
    margin-right: 20px;
    background-color: #000000;
    color: #ffffff;
}

/* <body>タグ */
body {
    background-color: #E1E1E1;
}

main {
    padding: 20px 0;
}

/* 一番外の div  */
.request-wrapper {
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* タイトル 「申請一覧」*/
.request-wrapper h1 {
    text-align: left;
    width: 100%;
    border-left: solid 8px #000000;
    padding-left: 14px;
}

/* 「承認待ち」「承認済み」のタブ枠（１） */
.request-filter-nav {
    width: 100%;
    border-bottom: solid 1px rgb(0, 0, 0);
}

/* 「承認待ち」「承認済み」のタブ枠（２） */
.filter-list {
    width: 100%;
    display: flex;
}

/* 「承認待ち」「承認済み」のタブ枠（３）」 */
.filter-option {
    width: 10%;
    margin-left: 45px;
    text-align: center;
}

/* 「承認待ち」「承認済み」のリンク */
.filter-link {
    color: black;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
}

/* 「承認待ち」「承認済み」のリンク（選択時） */
.filter-link.active {
    font-weight: bold;
}

/* テーブル全体のスタイリング */
.request-table {
    width: 100%;
    margin: 50px 0;
    font-size: 18px;
    text-align: center;
    border: solid 1px #E1E1E1;
    /* 「border-radius」のために以下４行が必要 */
    border-radius: 16px;
    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden;
}

/* テーブルヘッダー */
.request-table thead th {
    color: #737373;
    background-color: #ffffff;
    padding: 14px;
    border-bottom: 4px solid #E1E1E1;
}

/* テーブルボディ */
.request-table tbody td {
    color: #737373;
    padding: 17px 0;
    background-color: #ffffff;
    border-bottom: 2px solid #E1E1E1;
}

/* 1列目（状態） */
.request-table td:nth-child(1),
.request-table th:nth-child(1) {
    width: 12%;
}

/* 2列目（名前） */
.request-table td:nth-child(2),
.request-table th:nth-child(2) {
    width: 12%;
}

/* 3列目（対象日時） */
.request-table td:nth-child(3),
.request-table th:nth-child(3) {
    width: 12%;
}

/* 4列目（申請理由） */
.request-table td:nth-child(4),
.request-table th:nth-child(4) {

}

/* 5列目（申請日時） */
.request-table td:nth-child(5),
.request-table th:nth-child(5) {
    width: 12%;
}

/* 6列目（詳細） */
.request-table td:last-child,
.request-table th:last-child {
    width: 12%;
}

/* 詳細リンク */
.request-table tbody td a {
    color: #000000;
    text-decoration: none;
}

/* 詳細リンクのホバー時 */
.request-table tbody td a:hover {
    text-decoration: underline;
}

/* タブレット（768-850px）向けのスタイル */
@media screen and (max-width: 850px) {
    body {
        font-size: 12px;
    }

    .header_inner {
        display: flex;
        height: 70px;
        margin-left: 5px;
        margin-right: 5px;
    }

    /*ヘッダー右側のnavスペース*/
    .header__nav {
        width: 400px;
        font-size: 16px;
    }

    /*ログアウトbutton*/
    .header__logout-button {
        width: 100px;
        font-size: 16px;
        margin-right: 0;
    }

    /* 一番外の div  */
    .request-wrapper {
        width: 94%;
    }

    /* 「承認待ち」「承認済み」のリンク */
    .filter-link {
        font-size: 16px;
    }

    /* テーブル全体のスタイリング */
    .request-table {
        font-size: 12px;
    }

    /* テーブルヘッダー */
    .request-table thead th {
        font-size: 14px;
    }

    /* 1列目（状態） */
    .request-table td:nth-child(1),
    .request-table th:nth-child(1) {
        width: 14%;
    }

    /* 2列目（名前） */
    .request-table td:nth-child(2),
    .request-table th:nth-child(2) {
        width: 14%;
    }

    /* 3列目（対象日時） */
    .request-table td:nth-child(3),
    .request-table th:nth-child(3) {
        width: 14%;
    }

    /* 4列目（申請理由） */
    .request-table td:nth-child(4),
    .request-table th:nth-child(4) {}

    /* 5列目（申請日時） */
    .request-table td:nth-child(5),
    .request-table th:nth-child(5) {
        width: 14%;
    }

    /* 6列目（詳細） */
    .request-table td:last-child,
    .request-table th:last-child {
        width: 14%;
    }
}